include CHANGELOG.md
include LICENSE
include PUBLISHING.md
include README.md
recursive-include .github/workflows *.yml
recursive-include benchmarks *.md *.py
recursive-include examples *.md *.py *.txt
recursive-include tests *.py
